@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.Header{
    display: flex;
    justify-content: space-around;
    background-color:skyblue;
    font-family: 'Allura', cursive;
    font-weight: 1000;
    font-size: 3rem;
    color: white;
}
.Header div{
    cursor: pointer;
}
.addbtn{
    border-radius: 15px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    margin-top: 25px;
    border: 2px solid black;
    cursor: pointer;
}
.flex1{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
}
#studentDetails{
    margin-left: 5%;
    margin-right: 5%;

}